body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242b4d;
  overflow-x: hidden;
}

header {
  background: #242b4d;
  color: white;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

nav {
  margin: 1rem 0;
  background-color: #242b4d;
}

nav button {
  margin: 0 0.5rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 200px;
  color: #ffffff;
  border-radius: 10px;
}
h2 {
  color: #ffffff;
}
.carrinho {
  color: #ffffff;
}

aside {
  margin-top: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 300px;
  border-radius: 10px;
}

#cart-items {
  max-height: 200px;
  overflow-y: auto;
}

#whatsapp-button {
  background: #25d366;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
.bt {
  border: none;
  border-radius: 10px;
  background-color: #242b4d;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.bt:hover {
  background-color: #404a79;
}

.bt2 {
  border: none;
  border-radius: 10px;
  background-color: #404a79;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.bt2:hover {
  background-color: #6e78a5;
}
